
<section class="section-contact">
  <main class="main">
    <div class="container">
      <div class="contact-title">
        <h1>Contact</h1>
      </div>
      <div class="wrapper">
        <div class="contact-info">
          <div class="contact-item">
            <h1>Phone</h1>
            <p>+38093-140-49-09</p>
          </div>
          <div class="contact-item">
            <h1>Email</h1>
            <p>pavlobzdel@gmail.com</p>
          </div>
          <div class="contact-item">
            <h1>Social</h1>
            <div class="social-icon">
              <div class="icon"><a target="_blank" href="https://www.instagram.com/pavlobzdel/"><img
                    src="assets/icon/instagram.png" alt="icon instagram"></a></div>
              <div class="icon"><a target="_blank" href="https://www.linkedin.com/in/pavlobzdel"><img
                    src="assets/icon/linkedin.png" alt="icon linkedin"></a></div>
              <div class="icon"><a target="_blank" href="https://t.me/Pavlo_Bzdel"><img src="assets/icon/telegram.png"
                    alt="icon telegram"></a></div>
              <div class="icon"><a target="_blank" href="https://github.com/PavloBzdel"><img src="assets/icon/github.png"
                    alt="icon github"></a></div>
            </div>
          </div>
        </div>
        <div class="contact-map"><img src="assets/images/contact/ukraine.png" alt="ukraine country"></div>
      </div>
    </div>
  </main>
</section>

