<section class="section-footer">
  <footer class="footer">
    <div class="container">
      <div class="footer-info">
        <div class="footer-item">
          <div class="item-number">
            <h1>Phone</h1>
            <p>+38093-140-49-09</p>
          </div>
        </div>
        <div class="footer-item">
          <div class="item-mail">
            <h1>Email</h1>
            <p>pavlobzdel@gmail.com</p>
          </div>
        </div>
        <div class="footer-item">
          <div class="footer-social">
            <h1>Contact Me</h1>
            <div class="social-icon">
              <div class="icon"><a target="_blank" href="https://www.instagram.com/pavlobzdel/"><img src="assets/icon/instagram.png" alt="icon instagram"></a></div>
              <div class="icon"><a target="_blank" href="https://www.linkedin.com/in/pavlobzdel"><img src="assets/icon/linkedin.png" alt="icon linkedin"></a></div>
              <div class="icon"><a target="_blank" href="https://t.me/Pavlo_Bzdel"><img src="assets/icon/telegram.png" alt="icon telegram"></a></div>
            </div>
          </div>
        </div>
        <div class="footer-item">
          <div class="footer-copi">
            © 2023 By Pavlo Bzdel.
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
