<section class="section-header">
  <header>
    <div class="container">
      <div class="logo" [routerLink]="['/home']">
        <div class="ring"></div>
        <div class="name">Pavlo Bzdel</div>
      </div>
      <nav class="nav">
        <ul>
          <li class="link"><a [routerLink]="['/home']">Home</a></li>
          <li class="link"><a [routerLink]="['/projects']">Project</a></li>
          <li class="link"><a [routerLink]="['/skills']">Skills</a></li>
          <li class="link"><a [routerLink]="['/courses']">Courses</a></li>
          <li class="link"><a [routerLink]="['/contact']">Contact</a></li>
        </ul>
      </nav>
      <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger">
          <div></div>
        </div>
        <div class="menu">
          <div>
            <div>
              <ul>
                <li class="link"><a [routerLink]="['/home']">Home</a></li>
                <li class="link"><a [routerLink]="['/projects']">Project</a></li>
                <li class="link"><a [routerLink]="['/skills']">Skills</a> </li>
                <li class="link"><a [routerLink]="['/courses']">Courses</a> </li>
                <li class="link"><a [routerLink]="['/contact']">Contact</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</section>
