
<section class="section-home">
  <main class="main">
    <div class="container">
      <div class="main-photo"><img src="assets/images/pavlo-bzdel.png" alt="photo"></div>
      <div class="main-content">
        <div class="content-title">Hello</div>
        <div class="content-subtitle">Dear employer!</div>
        <div class="content-text">My name is Pavlo, I'm interested in vacancy Frontend Trainee / Junior.
          An open vacancy for your company attracts me with the opportunity to work in a creative team and implement large-scale projects,
          develop my own skills and help in project development. My goal is to become a Full Stack Developer but I understand that it takes a lot of time and work to improve my skills.
          In the near future I want to become useful in your team and bring positive and good results.
          I see my future in the work of a Web developer, here is where to develop and there is something to learn. I am ready for all the difficulties that will be on the way to my dream to work in the most promising profession.
        </div>
        <div class="content-button">
          <div class="button" [routerLink]="['/projects']">Project</div>
          <div class="button" [routerLink]="['/skills']">Skills</div>
          <div class="button" [routerLink]="['/courses']">Courses</div>
          <div class="button" [routerLink]="['/contact']">Contact</div>
        </div>
      </div>
    </div>
  </main>
</section>

